{% extends 'admin_panel/admin_base.html' %}

{% block title %}Gestión de Usuarios{% endblock %}

{% block content %}
<div class="tabs-container">
    <a href="{% url 'listar_usuarios' %}" class="{% if request.resolver_match.url_name == 'listar_usuarios' %}tab-active{% else %}tab-inactive{% endif %}">Lista de Usuarios</a>
    <a href="{% url 'agregar_usuario' %}" class="{% if request.resolver_match.url_name == 'agregar_usuario' %}tab-active{% else %}tab-inactive{% endif %}">Añadir Usuario</a>
</div>

<h1 class="admin-panel-title">Lista de Usuarios</h1>

<div class="tabs-container">
    <a href="?rol=vendedor" class="btn-action {% if rol_filtrado == 'vendedor' %}tab-active{% endif %}">Vendedores</a>
    <a href="?rol=empleado_postventa" class="btn-action {% if rol_filtrado == 'empleado_postventa' %}tab-active{% endif %}">Empleados Postventa</a>
    <a href="?" class="btn-action {% if not rol_filtrado %}tab-active{% endif %}">Todos</a>
</div>

<!-- Tabla de Usuarios -->
<table class="admin-table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.get_rol_display }}</td>
            <td>
                <a href="{% url 'edit_user' usuario.id %}" class="btn-edit">Editar</a>
                <a href="{% url 'delete_user' usuario.id %}" class="btn-delete">Eliminar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No hay usuarios disponibles.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
