/*-------------------- Responsive --------------------*/
@media (max-width: 768px) {
    .product-card {
        width: 100%; /* Ocupa el ancho completo */
        height: auto; /* Altura dinámica */
    }

    .product-image {
        height: 150px; /* Reduce la altura en pantallas pequeñas */
    }

    .search-bar {
        width: 100%; /* Se adapta al ancho completo en dispositivos más pequeños */
    }
}

/*-------------------- STYLE HEADER base.HTML--------------------*/

/* Color de fondo del encabezado */
.header-bg {
    background-color: #ffffff;
}

/* Estilo de la barra de búsqueda */
.search-bar {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 800px; /* Ajusta el ancho según tus necesidades */
    max-width: 100%; /* Para que no exceda el contenedor */
    box-sizing: border-box;
}

.search-bar:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Estilos para el color negro en los enlaces del menú */
nav a {
    color: #000000;
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 5px;
}

nav a:hover {
    background-color: #f0f0f0;
    color: #333333;
}

nav .separador {
    margin-right: 15px;
}


/*-------------------- STYLE CARRITO base.HTML--------------------*/
/* Estilos para el contenedor del carrito */
.cart-container {
    display: flex;
    align-items: center;
    border: 1px solid #555; /* Gris oscuro para los bordes */
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white; /* Fondo blanco para que resalte */
}

/* Contenedor del ícono del carrito */
#carrito-icon {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre bolsa y texto total */
}

/* Imagen de la bolsa */
#carrito-icon img {
    height: 30px;
}

/* Badge exclusivo para el carrito */
.cart-badge {
    position: absolute;
    top: -10px; /* Mover hacia arriba */
    left: 20px; /* Mover hacia la derecha sobre la bolsa */
    font-size: 12px;
    border-radius: 50%;
    padding: 2px 6px;
    color: white;
    background-color: red;
    font-weight: bold;
    display: inline-block;
}

/* Texto del total del carrito */
#carrito-total {
    font-weight: bold;
    font-size: 16px;
    color: black; /* Color negro para el texto del precio */
}


/*-------------------- STYLE PARA EL MODAL DE CADA PRODUCTO (SU INFORMACION) -----------------------*/

/* Imagen más grande en el modal */
#modal-product-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* Resaltar disponibilidad */
#modal-product-stock .badge {
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

/* Estado disponible */
#modal-product-stock .badge-success {
    background-color: #28a745;
    color: #fff;
}

/* Estado no disponible */
#modal-product-stock .badge-danger {
    background-color: #dc3545;
    color: #fff;
}


/*-------------------- STYLE FUNCIONALIDADES DEL CARRITO DE COMPRA carrito.html--------------------*/

/* Contenedor principal del carrito */
.carrito-container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Título principal del carrito */
.carrito-titulo {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

/* Estilo de la fila del carrito */
.carrito-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ajusta los elementos entre sí */
}

/* Estilo de la columna izquierda (productos) */
.carrito-col-productos {
    flex: 0 0 65%; /* La columna ocupa el 65% del ancho */
    margin-bottom: 20px;
}

/* Estilo de la columna derecha (resumen) */
.carrito-col-resumen {
    flex: 0 0 30%; /* La columna ocupa el 30% del ancho */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Resumen del carrito */
.carrito-card {
    border-radius: 10px; /* Bordes curvos */
    margin-top: 20px;
    width: 100%;
    background-color: #f8f9fa; /* Color de fondo suave */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 15px; /* Espaciado interno */
    border: 1px solid #ddd; /* Borde ligero */
}

.carrito-card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.carrito-card-body h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
}

.carrito-card-body .carrito-btn {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    background-color: #28a745; /* Color verde */
    color: white;
    border: none;
}

.carrito-card-body .carrito-btn:hover {
    background-color: #218838; /* Oscurecer el verde al pasar el cursor */
}

/* Separador en el resumen del carrito */
.carrito-separador {
    border: 0;
    height: 1px;
    background-color: #a8a8a8;
    margin: 15px 0;
}

/* Lista de productos del carrito */
.carrito-list-item {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrito-producto-imagen {
    border-radius: 8px;
    object-fit: cover;
    width: 100px;
    height: auto;
    margin-right: 20px;
}

/* Input para cantidad */
.carrito-cantidad-input {
    width: 60px;
    text-align: center;
    font-size: 14px;
}



/*-------------------- STYLE RECUADRO DEL USUARIO base.HTML--------------------*/
#userDropdown {
    border: 2px solid black; /* Borde negro */
    color: black;           /* Letras negras */
    background-color: white; /* Fondo blanco */
    padding: 5px 10px;
    border-radius: 5px;     /* Bordes redondeados (opcional) */
    text-transform: capitalize; /* Capitalizar el nombre */
}

/* Cambiar el color al pasar el mouse */
#userDropdown:hover {
    background-color: #f0f0f0; /* Fondo gris claro al pasar el mouse */
}

/* Estilo para el menú desplegable */
.dropdown-menu {
    border: 2px solid black; /* Borde negro */
    color: black;            /* Letras negras */
    background-color: white; /* Fondo blanco */
}

/* Estilo para los elementos del menú desplegable */
.dropdown-menu .dropdown-item {
    color: black; /* Letras negras */
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f0f0f0; /* Fondo gris claro al pasar el mouse */
    color: black;
}

/*-------------------- STYLE BODY base.HTML--------------------*/

/* Estilo base para el cuerpo y contenedor */
body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
}

/* Asegurar que el contenido principal tome todo el espacio */
main {
    flex: 1; /* Empuja el footer hacia abajo si el contenido es menor a la altura de la ventana */
}

/* Login and forms */
.login-container, .registro-container, .form-agregar-usuario {
    width: 50%;
    margin: 2rem auto;
    padding: 1.5rem;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
}

.login-container h1, .registro-container h1, .form-agregar-usuario h1 {
    margin-bottom: 1rem;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Buttons */
.btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-success {
    background-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-warning {
    background-color: #ffc107;
    color: black;
}

.btn-warning:hover {
    background-color: #e0a800;
}

/* Tables */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

.table th, .table td {
    padding: 0.75rem;
    text-align: left;
    border: 1px solid #ddd;
}

.table thead th {
    background-color: #007bff;
    color: white;
}


/*-------------------- STYLE ARCHIVO home.HTML --------------------*/

/* Título centrado */
.catalog-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 30px; /* Espaciado entre el título y los productos */
}

/* Contenedor principal */
.container {
    display: flex;
    gap: 20px;
}

/* Tarjetas de producto */
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ajuste automático según el tamaño de la columna */
    max-width: 280px; /* Tamaño máximo para tarjetas */
    height: 400px; /* Altura fija */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px); /* Efecto hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Imagen de producto */
.product-image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image {
    width: auto;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen sin deformarla */
}

/* Título del producto */
.product-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
    text-align: center;
}

/* Precio del producto */
.product-price {
    font-size: 14px;
    color: #444;
    margin-bottom: 10px;
}

/* Botón de añadir al carrito */
.add-to-cart-btn {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-to-cart-btn i {
    margin-right: 5px; /* Espaciado para el icono */
}

.add-to-cart-btn:hover {
    background-color: #444; /* Cambia el color al pasar el cursor */
}

/* Estilos específicos para los filtros del catálogo */

/* Barra de filtros */
.col-lg-3 {
    flex: 0 0 25%; /* Toma el 25% del ancho del contenedor */
    max-width: 25%;
    padding: 15px;
    border-right: 1px solid #ddd; /* Línea divisoria */
}

/* Contenedor de productos */
.col-lg-9 {
    flex: 0 0 75%; /* Toma el 75% del ancho del contenedor */
    max-width: 75%;
    padding: 15px;
}

/* Ajustes adicionales para la barra de filtros */
.catalog-filter-group {
    margin-bottom: 15px;
}

.catalog-filter-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.catalog-filter-group input,
.catalog-filter-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Botón para aplicar filtros */
.catalog-filter-btn {
    background-color: #007bff;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.catalog-filter-btn:hover {
    background-color: #0056b3;
}

/*--------------------------------------------------------------*/
/*-------------------- STYLE PERFIL profile.html--------------------*/
/*--------------------------------------------------------------*/
.profile-container {
    width: 80%;
    margin: 2rem auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-container h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.profile-container .form-group {
    margin-bottom: 1rem;
}

.profile-container .btn {
    margin-top: 1rem;
}

.profile-details p {
    font-size: 1rem;
    margin: 0.5rem 0;
    line-height: 1.5;
}

.profile-details strong {
    color: #333;
}

.profile-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.5rem;
}

.profile-buttons .btn {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

.profile-buttons .btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    transition: background-color 0.3s;
}

.profile-buttons .btn-primary:hover {
    background-color: #0056b3;
}

.profile-buttons .btn-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
    transition: background-color 0.3s;
}

.profile-buttons .btn-secondary:hover {
    background-color: #5a6268;
}


/*--------------------------------------------------------------*/
/*-------------------- STYLE ALERTAS ---------------------------*/
/*--------------------------------------------------------------*/
.alert-container {
    margin-bottom: 1rem;
}

.alert {
    position: relative;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}


/*-------------------------------------------------------------------------------------------------------*/
/*--------------------------- STYLE PARA DESACTIVAR BOTON "AÑADIR AL CARRITO" ---------------------------*/
/*-------------------------------------------------------------------------------------------------------*/

button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}


/*-------------------------------------------------------------------------------------------------------*/
/*------------------------------- STYLE PARA LA SECCION "FINALIZAR COMPRA" ------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/


.accordion-button:not(.collapsed) {
    background-color: #007bff;
    color: white;
}

.accordion-button {
    font-size: 1.2rem;
}

.accordion-body {
    padding: 1.5rem;
}

/* Ajustar los anchos de las columnas */
.col-lg-8 {
    flex: 0 0 66.666667%; /* Acordeón ocupa el 66.67% */
    max-width: 66.666667%;
}

.col-lg-4 {
    flex: 0 0 33.333333%; /* Resumen del pedido ocupa el 33.33% */
    max-width: 33.333333%;
}

/* Contenedor principal del proceso de compra */
.checkout-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Acordeón del proceso */
.accordion-section {
    width: 65%; /* Ocupa el 65% del ancho */
    max-width: 800px;
}

/* Resumen del pedido */
.order-summary {
    width: 30%; /* Ocupa el 30% del ancho */
    max-width: 400px;
}

/* Título del resumen */
.order-summary h4 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Listado de productos */
.order-summary .list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Imagen del producto */
.order-summary img {
    height: 60px;
    width: auto;
    margin-right: 10px;
}

/* Texto del producto */
.order-summary .text-muted {
    font-size: 0.9rem;
}




/*-------------------------------------------------------------------------------------------------------*/
/*----------------------- STYLE PARA LA SECCION "Contacto (contacto.html)" ------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/

/* Contenedor principal para la página de contacto */
.contact-container {
    max-width: 800px;
    margin: 50px auto; /* Centra el contenido y añade espacio superior e inferior */
    text-align: center;
}

/* Estilo para el título */
.contact-container h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px; /* Espaciado inferior */
    color: #333; /* Color del texto */
}

/* Estilo para la descripción */
.contact-description {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px; /* Espaciado inferior entre el texto y el cuadro */
}

/* Estilo para el cuadro de información */
.contact-info {
    background-color: #f8f9fa; /* Fondo claro */
    border: 1px solid #ddd; /* Borde suave */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    text-align: left; /* Alineación del texto */
    font-size: 1rem;
    color: #333;
    line-height: 1.8; /* Espaciado entre líneas */
    display: inline-block; /* Asegura que el cuadro no ocupe todo el ancho */
}

/* Estilo para los textos dentro del cuadro */
.contact-info p {
    margin: 10px 0;
}

.contact-info strong {
    color: #0056b3; /* Azul para destacar */
}

/* Responsivo */
@media (max-width: 768px) {
    .contact-container {
        padding: 15px;
    }

    .contact-description {
        font-size: 1rem;
    }

    .contact-info {
        font-size: 0.9rem;
    }
}



/*-------------------------------------------------------------------------------------------------------*/
/*----------------------- STYLE PARA LA SECCION "Quienes somos (quienes_somos.html)" --------------------*/
/*-------------------------------------------------------------------------------------------------------*/

/* Estilo general para la página */
.quienes-somos {
    background-color: #ffffff; /* Fondo blanco */
    padding: 30px;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    font-size: 16px;
    color: #333;
    line-height: 1.8; /* Espaciado entre líneas */
}

/* Título principal */
.quienes-somos h1 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #007bff; /* Azul principal */
}

/* Estilo para los párrafos */
.quienes-somos p {
    margin: 15px 0;
    text-align: justify;
}

/* Estilo para los valores */
.quienes-somos ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 20px 0;
}

.quienes-somos ul li {
    margin-bottom: 10px;
}

.quienes-somos ul li strong {
    color: #0056b3; /* Azul oscuro */
}

/* Estilo para los subtítulos */
.quienes-somos h2, .quienes-somos h3 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    color: #0056b3;
    text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
    .quienes-somos {
        padding: 20px;
    }
}


/*-------------------------------------------------------------------------------------------------------*/
/*----------------------- STYLE PARA LA SECCION "Footer (base.html)" ------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    font-size: 0.9rem;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around; /* Espaciado uniforme entre secciones */
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px; /* Espaciado con el copyright */
}

.footer-section {
    flex: 1;
    margin: 0 15px; /* Espaciado interno entre columnas */
    text-align: center; /* Centra el texto en cada sección */
}

.footer-section h4 {
    font-weight: bold;
    font-size: 1rem;
    color: #ffc107; /* Amarillo destacado */
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section a {
    color: #ffc107;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-copyright {
    text-align: center;
    border-top: 1px solid #555;
    padding-top: 10px;
    font-size: 0.85rem;
    width: 100%; /* Asegura que el texto se mantenga centrado */
}

